.navbar-custom {
  padding: 20px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #FFFAFA;
}

.navbar-custom li {
    cursor: pointer;
  }

.navbar-custom .logo {
  width: 150px;
}

.custom-navbar-menu {
  display: flex;
  list-style: none;
  gap: 30px;
  font-size: 18px;
  color: #49557e;
}

.custom-navbar-right {
  display: flex;
  align-items: center;
  gap: 40px;
}

.custom-navbar-btn {
  background: transparent;
  font-size: 16px;
  color: #49557e;
  border: 1px solid tomato;
  padding: 10px 30px;
  border-radius: 50px;
  transition: 0.3s;
  cursor: pointer;
}

.custom-navbar-btn:hover {
  background-color: #fff4f2;
}

.custom-navbar-link-active{
    padding-bottom:2px;
    border-bottom: 2px solid #49557e;
    /* transition: 0.05s; */
}

.nav-item :hover{
transform: scale(1.09);
transition: 0.2s;
}

.navbar-profile{
  position: relative;
}

.nav-profile-dropdown{
  position: absolute;
  display: none;
  right: 0;
  z-index: 2;
}

.navbar-profile:hover .nav-profile-dropdown{
  display: flex;
  flex-direction: column;
  gap: 10px;
  background-color: #fff2ef;
  padding: 12px 25px;
  border-radius: 4px;
  border: 1px solid tomato;
  outline: 2px solid white;
  list-style: none;
}

.nav-profile-dropdown img{
  width: 20px;
}
.nav-profile-dropdown p{
  position: relative;
  top: 9px;
}

.nav-profile-dropdown .navlink:hover{
  color: tomato;
}

.nav-profile-dropdown .navlink{
  display: flex;
  align-items: center;
  gap: 10px;
  cursor: pointer;
}

@media (max-width: 1050px) {
  .navbar .logo{
    width: 140px
  }

  .custom-navbar-menu{
    gap: 20px;
    font-size: 17px;
  }

  .custom-navbar-right{
    gap: 30px;
  }

  .custom-navbar-right img{
    width: 22px;
  }

  .custom-navbar-right btn{
    padding: 8px 25px;
  }
}


@media (max-width: 900px) {
  .navbar .logo{
    width: 120px
  }

  .custom-navbar-menu{
    gap: 15px;
    font-size: 16px;
  }

  .custom-navbar-right{
    gap: 20px;
  }

  .custom-navbar-right img{
    width: 20px;
  }

  .custom-navbar-right btn{
    padding: 7px 20px;
    font-size: 15px;
  }
}

@media (max-width: 750px) {
  .custom-navbar-menu{
    display: none;
  }
}


