.explore-restaurants {
  display: flex;
  justify-content: space-evenly;
  flex-direction: column;
  gap: 1.5vh;
}

.explore-restaurants-list {
  max-width: 100vw;
  display: flex;
  justify-content: space-evenly;
  flex-direction: row;
  gap: 2vw;
}
.explore-restaurants-list .restaurant_image {
  height: 8vw;
  width: 8vw;
  border-radius: 50%;
  transition: 0.2s;
  cursor: pointer;
}

.explore-restaurants-list .restaurant_image:hover {
  -webkit-box-shadow: 0px 7px 54px -7px rgba(255, 85, 28, 1);
  -moz-box-shadow: 0px 7px 54px -7px rgba(255, 85, 28, 1);
  box-shadow: 0px 7px 54px -7px rgba(255, 85, 28, 1);
  transform: scale(1.07);
}

.explore-restaurants-list .restaurant_name {
  margin: 5px;
  font-weight: 500;
  color: black;
}

.explore-restaurant-list-item {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.explore-restaurant-list-item .active{
  border: 4px solid tomato;
  padding: 2px;
  /* transition: ease; */
}