.client-navbar{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding:6px 4%;
}

.client-navbar .logo{
    width: max(10%,80px);
}



.custom-client-navbar-right img{
    width: 50px;
    margin-right: 14px;
}

.custom-client-navbar-btn {
    background: transparent;
    font-size: 16px;
    color: #49557e;
    border: 1px solid tomato;
    padding: 10px 30px;
    border-radius: 50px;
    transition: 0.3s;
    cursor: pointer;
  }
  
  .custom-client-navbar-btn:hover {
    background-color: #fff4f2;
  }