.form-container {
  /* border-radius: 50px;
  background: #ffffff;
  box-shadow: 28px 28px 57px #d9d9d9, -28px -28px 57px #ffffff; */
  border-radius: 56px;
  background: linear-gradient(145deg, #e6e6e6, #ffffff);
  box-shadow: 26px 26px 63px #d6d6d6, -26px -26px 63px #ffffff;
}
